/************************************/
/*        		GENERAL				*/
/************************************/

html, body {
	font-family: "Montserrat";
	padding-top: 0;
}

.fil-ariane {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.2em;
	margin-top: 0;
}


/************************************/
/*        		ERRORS				*/
/************************************/

.field-error .control-label {
	color: #DF225A;
}

.field-error .form-control {
	border-color: #DF225A;
}

.field-error .error {
	color: #DF225A;
	display: block;
}

/************************************/
/*        		FONTS				*/
/************************************/

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/Montserrat-Regular-webfont.eot?#iefix")
	format("embedded-opentype"),
	url("fonts/Montserrat-Regular-webfont.woff2") format("woff2"),
	url("fonts/Montserrat-Regular-webfont.woff") format("woff"),
	url("fonts/Montserrat-Regular-webfont.ttf") format("truetype"),
	url('fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
	font-family: "Montserrat-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/Montserrat-Bold-webfont.eot?#iefix")
	format("embedded-opentype"),
	url("fonts/Montserrat-Bold-webfont.woff2") format("woff2"),
	url("fonts/Montserrat-Bold-webfont.woff") format("woff"),
	url("fonts/Montserrat-Bold-webfont.ttf") format("truetype"),
	url('fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
	font-family: "Montserrat-Light";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/Montserrat-Light-webfont.eot?#iefix")
	format("embedded-opentype"),
	url("fonts/Montserrat-Light-webfont.woff2") format("woff2"),
	url("fonts/Montserrat-Light-webfont.woff") format("woff"),
	url("fonts/Montserrat-Light-webfont.ttf") format("truetype"),
	url('fonts/Montserrat-Light.otf') format('opentype');
}


/************************************/
/*        		BOUTONS				*/
/************************************/


