<#ftl output_format="HTML">

<!-- Macro breadCrumb : display breadcrumb for given crumbs list -->
<!-- Crumbs must of the form : [{"link":"my link", "text":"my link name"}, {...}, ...] -->
<#macro breadCrumb crumbs=[] >
	<section class="fil-ariane">
		<div class="container">
			<ol class="breadcrumbs">
				<li class="breadcrumbs-item">
					<a href="jsp/site/Portal.jsp?page=accueil">#i18n{nomAppli.demande.breadcrumb.accueil}</a>
				</li>
				<#if crumbs[0]?has_content>
					<#list crumbs as crumb>
						<#if crumb.link?? && crumb.link != "">
							<li class="breadcrumbs-item">
								<a href="${crumb.link!}">${crumb.text!}</a>
							</li>
						<#else>
							<li class="breadcrumbs-item">
								${crumb.text!}
							</li>
						</#if>
					</#list>
				</#if>
			</div>
		</div>
	</section>
</#macro>

<#macro fieldError key>
	<#if map_errors?? && key?? && map_errors[key]?? && map_errors[key]?has_content>
		<div class="field-error">
			<#nested>
			<#list map_errors[key] as error>
			<span class="error">${error.message}</span>
			</#list>
		</div>
	<#else>
		<#nested>
	</#if>
</#macro>
